<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-5">Bienvenido a mi aplicación Spring Boot con Bootstrap</h1>
            <p class="lead">Esta es una página de inicio básica que utiliza Bootstrap para el diseño.</p>
            <p>¡Puedes empezar a personalizarla según tus necesidades!</p>
            
            <a href="/login/login" class="btn btn-primary">Iniciar Sesión</a>

        </div>
    </div>
</div>

<!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>